{% extends 'base.html' %}

{% block head%}
<h1>Recipe Bank</h1>
{% endblock %}

{% block body%}
<div>
    <h1>Add a recipe</h1>
    <form class="add_form" method="POST" action="/add">
        <input name="name" placeholder="Name">
        <input name="ingredients" placeholder="Ingredients">
        <input name="instructions" placeholder="Instructions">
        <input name="time" placeholder="Time">
    
        <button type="submit">Add recipe</button>
    </form>
</div>
<div class="content">
    <h1>Your recipes</h1> 

    {% for r in recipes %}
    <div class="card">

        <p class="date">Created: {{ r.date_created.strftime('%d.%m.%Y') }}</p>

        <h3>{{ r.name }}</h3>
        <p>Ingredients: {{ r.ingredients }}</p>
        <p>Instructions: {{ r.instructions }}</p>
        <p>Time: {{ r.time }}</p>
        <form class="action" action="/delete/{{ r.id}}" method="POST">
            <button class="delete">Delete</button>
        </form>

        <a class="edit_form "href="/edit/{{ r.id }}">
            <button class="edit">Edit</button>
        </a>
        
    </div>
    {% endfor %}

</div>

{% endblock %}

